

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 190.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;

    @media (min-width: 575px) {
        font-size: 18px;
    }

    @media (min-width: 1024px) {
        font-size: 21px;
    }
}